footer {
  text-align: center;
}

#app-container {
  border: solid #085fd7 4px;
  border-radius: 0.5em;
  width: 800px;
  height: 400px;
  margin: 0 auto;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-container {
  margin-left: 175px;
}

#search-form {
  margin-top: 20px;
}

#search-button {
  margin-left: -20px;
  margin-right: 5px;
}

#current-location-button {
  margin-left: -26px;
}

#weather-info-container {
  margin: 10px 0px 0px 0px;
}

#today-section {
  width: 250px;
  margin-top: 30px;
  padding-left: 67px;
}

#today-section h1 {
  font-weight: bold;
}

#current-city {
  font-size: 22px;
}

#last-updated,
#current-date-title {
  font-size: 14px;
}

#current-weather-description {
  font-size: 15px;
  text-transform: capitalize;
  margin-bottom: 0px;
}

#current-temperature {
  font-size: 30px;
  position: relative;
  top: 8px;
}

#units {
  font-size: 15px;
  position: relative;
  bottom: 5px;
  margin-left: 5px;
}

.misc-weather h6 {
  font-size: 14px;
}

#humidity-value,
#wind-value {
  margin-left: 5px;
}

.vr {
  margin-top: 25px;
}

.forecast-container h1 {
  font-weight: bold;
  margin-top: 95px;
  margin-left: -50px;
  text-align: left;
}

#forecast-row {
  margin: 10px -580px 0px -20px;
}

#forecast-day {
  margin: 3px -47px 10px -140px;
  text-align: center;
  font-size: 15px;
}

.forecast-temp-info h6 {
  font-size: 12px;
  margin: 5px 50px 0px -45px;
  text-align: center;
}

#temperature-max {
  font-weight: bold;
}

#forecast-icon {
  margin: -25px 0px -15px -47px;
}

#github-link {
  text-decoration: none;
}
