footer {
  text-align: center;
}

#app-container {
  border: solid #085fd7 4px;
  border-radius: 0.5em;
  width: 800px;
  height: 400px;
  margin: 0 auto;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.vr {
  margin-top: 30px;
}

.form-container {
  margin-left: 175px;
}

#search-button {
  margin-left: -20px;
}

#current-location-button {
  margin-left: -26px;
}
#search-form {
  margin-top: 30px;
}

#weather-info-container h1 {
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
}

#weather-info {
  margin: 10px 55px 0px 50px;
}

#current-city {
  font-size: 25px;
}

#last-updated {
  font-size: 15px;
}

#current-weather-description {
  font-size: 15px;
  text-transform: capitalize;
  margin-top: 15px;
}

#current-temperature {
  font-size: 30px;
  position: relative;
  top: 8px;
}

#units {
  font-size: 15px;
  position: relative;
  bottom: 5px;
  margin-left: 5px;
}

#today-section {
  width: 290px;
}

#humidity-value,
#wind-value {
  margin-left: 5px;
}

#wind-unit h6 {
  margin-right: 6px;
}

#github-link {
  text-decoration: none;
}

.forecast-title {
  margin-top: 90px;
  text-align: left;
}

.forecast-container {
  margin-right: 10px;
}

#forecast-spacing {
  margin-top: 0px;
  margin-right: -350px;
}

#forecast-day {
  margin: 0px -60px 15px -140px;
  text-align: center;
  font-size: 15px;
}

#forecast-icon {
  margin: -25px 0px -15px -50px;
}

.forecast-temp-info h6 {
  font-size: 12px;
  margin: 5px 50px 0px -45px;
  text-align: center;
}
